.top-bar {
     // border: 1px solid red;
     background: $primeColor;
     .top-nav {
          padding: 0;
          // border: 1px dashed white;
          width: 650px;
          margin: 0 auto; 
          display: flex;
          justify-content: space-around;
          padding: 10px;
          &__item {
               line-height: 3.2rem;
          }
          &__link {
               display: block;
               @include content-font(1.8rem);
               color: white;
               text-transform: uppercase;
               font-weight: bold;
               letter-spacing: 1px;
          }
          &__link--large {
               @include title-font(3.2rem);
               color: white;
          }
          &__link--active {
               color: $accentColor;
          }

          
     }
     // prep responsive nav


     .menu-button {
          margin: 10px;
          &-icon {
               color: $lightColor;
          }
          &__container {
               font-size: 5rem;
               padding: 5px 10px;
               cursor: pointer;
               display: none;
          }
          

     }

     .hidden {
          position: fixed;
          top: -100%;
          left: -100%;
     }

     


}    