// Nav @ 670px

@media (max-width: 670px) {



     .blog {
          .aside {
               flex-direction: column;

               &__about, 
               &__posts {
                    width: 100%;
                    border-top: 5px solid $secondColor;
               }

          }

     }

     .blog-section {
          &__post {
               display: block;
               // margin: 0;
          }

          &__picture {
               position: static;
               max-width: 100%;

          }
          &__img {
               position: static;
               width: 100%;
          }

          &__description,
          &__description--right {
               text-align: center;
               align-items: center;
          }

          &__content--left, 
          &__content--right {
               width: 100%;
          }
     }

     .gallery-section {
          &__pic {
          margin: 0;
          }
     }



     .top-bar {
          // position: fixed;
          // width: 100%;
          // z-index: 10;
          .top-bar-nav {
               max-height: 0;
               overflow: hidden;
               position: absolute;
               background: $primeColor;
               width: 100%;
               transition: max-height 0.5s;
          }
          .top-nav {
               flex-direction: column;
               padding: 0;
               width: 100%;
               &__link--large,
               &__item--large {
                    display: none;
               }
               // &__link,
               &__item {
                    // border: 1px solid red;
                    // width: 80%;
                    margin: 5px 0;
                    padding-left: 10px;
               }
          }
          
          .menu-toggle:checked ~ .top-bar-nav {
               max-height: 200px;
               overflow: auto;
               transition: max-height 0.5s;
          }
          .menu-button {
               display: block;
               &__container {
                    display: block;
               }
               
          }

          
     }

     .header--small-plants,
     .header--large-plants {
          .wrapper {
               height: 100%;
          }
     } 

}    
     
