@charset "UTF-8";
/* Setup Snippet, general styling*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  html body {
    font-size: 1.8rem; }
  html a {
    text-decoration: none; }
  html ul {
    list-style: none; }

.wrapper {
  width: 85%;
  max-width: 1240px;
  margin: 0 auto; }

.content,
.copyright {
  font-family: "montserrat", sans-serif;
  color: #1f1f1f;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 3rem; }

.title--small, .title--small .title__link {
  font-family: "AbrilFatface", serif;
  color: #1f1f1f;
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; }

.title--large {
  font-family: "AbrilFatface", serif;
  color: #1f1f1f;
  font-size: 4.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; }

.main-title {
  font-family: "AbrilFatface", serif;
  color: #f6f6f6;
  font-size: 8rem;
  font-weight: bold;
  text-transform: uppercase; }

.main-title--main-page {
  font-family: "AbrilFatface", serif;
  color: #f6f6f6;
  font-size: 14rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20rem; }

.contact-me__input, .contact-me__input--large {
  font-family: "montserrat", sans-serif;
  color: #1f1f1f;
  font-size: 2rem; }

.more-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #e4a436; }
  .more-button__link, .contact-me .more-button {
    display: block;
    padding: 10px 20px;
    font-weight: bold;
    font-family: "AbrilFatface", serif;
    color: #1f1f1f;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-transform: uppercase; }

.copyright {
  background: #1f1f1f;
  color: #f6f6f6;
  padding: 1px; }
  .copyright__message {
    width: 100%;
    text-align: center;
    margin: 2px auto; }

.header--main {
  background: #345231;
  height: 95vh; }
  .header--main .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header--main .willow-pic {
    max-width: 70%; }
  .header--main .willow-pic__img {
    display: block;
    position: relative;
    top: 30px;
    max-width: 100%;
    -webkit-box-shadow: 20px 20px 0 white;
    box-shadow: 20px 20px 0 white; }

.main-title__prefix {
  position: absolute;
  left: -20px;
  top: -50px; }

.main-title-wrap {
  max-width: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  padding-left: 30px; }

.main-title--main-page {
  line-height: 13rem;
  margin: 0;
  padding: 10px; }

.header--small-plants,
.header--large-plants {
  background: url(assets/contact-image-1.jpg);
  background-size: cover;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header--small-plants .wrapper,
  .header--large-plants .wrapper {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .header--small-plants .main-title,
  .header--large-plants .main-title {
    line-height: 7rem;
    margin: 0;
    position: relative;
    top: 17px; }

.header--small-plants {
  background: url(assets/blog-image-1.jpg);
  background-size: cover; }

.top-bar {
  background: #345231; }
  .top-bar .top-nav {
    padding: 0;
    width: 650px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 10px; }
    .top-bar .top-nav__item {
      line-height: 3.2rem; }
    .top-bar .top-nav__link {
      display: block;
      font-family: "montserrat", sans-serif;
      color: #1f1f1f;
      font-size: 1.8rem;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px; }
    .top-bar .top-nav__link--large {
      font-family: "AbrilFatface", serif;
      color: #1f1f1f;
      font-size: 3.2rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: white; }
    .top-bar .top-nav__link--active {
      color: #e4a436; }
  .top-bar .menu-button {
    margin: 10px; }
    .top-bar .menu-button-icon {
      color: #f6f6f6; }
    .top-bar .menu-button__container {
      font-size: 5rem;
      padding: 5px 10px;
      cursor: pointer;
      display: none; }
  .top-bar .hidden {
    position: fixed;
    top: -100%;
    left: -100%; }

.about-section {
  text-align: center;
  background: #f6f6f6;
  padding: 100px 0 150px 0; }
  .about-section .more-button {
    margin: 0 auto;
    margin-top: 40px; }

.blog-section__post {
  border: 1px dashed black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .blog-section__post .title--small, .blog-section__post .title--small .title__link, .title--small .blog-section__post .title__link {
    margin: 0; }

.blog-section__post--right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.blog-section__description {
  -webkit-box-flex: 2;
  -ms-flex: 2 0 500px;
  flex: 2 0 500px;
  padding: 25px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .blog-section__description--right {
    text-align: right;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

.blog-section__content--left, .blog-section__content--right {
  width: 80%;
  margin: 25px 0; }

.blog-section__picture {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 500px;
  flex: 1 0 500px;
  min-width: 50%;
  position: relative; }
  .blog-section__picture--left {
    top: -50px; }
  .blog-section__picture--right {
    bottom: -50px; }

.blog-section__img-background {
  background: #345231;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .blog-section__img-background--left {
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
    background: #709b6b; }

.blog-section__img {
  display: block;
  width: 90%;
  position: relative;
  top: -20px;
  left: -20px; }

.journey-section {
  background: #f6f6f6;
  padding: 100px 0; }
  .journey-section .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .journey-section__pic {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px; }
  .journey-section__img {
    display: block;
    width: 100%;
    -webkit-box-shadow: 20px 20px 0 #709b6b;
    box-shadow: 20px 20px 0 #709b6b; }
  .journey-section__description {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 350px;
    flex: 1 0 350px;
    margin: 5px 0 0 100px; }
  .journey-section .title--large {
    margin: 10px 0 0 0; }
  .journey-section__content {
    margin: 35px 0; }

.gallery-section__banner {
  width: 100%;
  display: block;
  background-position: bottom center; }

.gallery-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 100px 0; }

.gallery-section__pic {
  display: block;
  margin: 20px; }

.info-section {
  background: #f6f6f6; }
  .info-section .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0; }
  .info-section__icon--round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e4a436; }
  .info-section__icon-link {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 2rem;
    color: #1f1f1f; }
  .info-section__cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
    -ms-flex: 2 0 450px;
    flex: 2 0 450px;
    margin: 25px 5px; }
    .info-section__cell .title--small, .info-section__cell .title--small .title__link, .title--small .info-section__cell .title__link {
      margin: 1.5% 0; }
  .info-section__info {
    margin: 0 0 0 20px; }

.background {
  background: #f6f6f6; }
  .background .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 100px 0; }

.contact-info {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 250px;
  flex: 1 0 250px;
  margin: 0 30px 25px 0; }
  .contact-info .social-link {
    color: #345231;
    padding: 10px;
    font-size: 3rem; }
  .contact-info .info-box {
    padding: 30px 20px;
    background: white; }
  .contact-info .info-box__info {
    margin: 0;
    padding: 0 10px; }
    .contact-info .info-box__info--bold {
      font-weight: bold;
      padding: 0 10px; }

.contact-me {
  -webkit-box-flex: 2;
  -ms-flex: 2 0 500px;
  flex: 2 0 500px; }
  .contact-me .more-button {
    width: 100%;
    border: none;
    height: 50px; }
  .contact-me__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .contact-me__input, .contact-me__input--large {
    display: block;
    border: none;
    margin-bottom: 10px;
    width: calc(50% - 10px);
    height: 75px;
    padding: 20px;
    color: #1f1f1f; }
    .contact-me__input--large {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      height: 300px;
      resize: none; }
  .contact-me ::-webkit-input-placeholder {
    color: #1f1f1f;
    opacity: 1; }
  .contact-me :-ms-input-placeholder {
    color: #1f1f1f;
    opacity: 1; }
  .contact-me ::-ms-input-placeholder {
    color: #1f1f1f;
    opacity: 1; }
  .contact-me ::placeholder {
    color: #1f1f1f;
    opacity: 1; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.blog .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.blog .blog-section {
  -webkit-box-flex: 2;
  -ms-flex: 2 0 500px;
  flex: 2 0 500px;
  margin-bottom: 25px; }
  .blog .blog-section .title--small, .blog .blog-section .title--small .title__link, .title--small .blog .blog-section .title__link {
    margin: 0; }

.blog__post, .blog__comment {
  background: white;
  padding: 30px;
  margin-bottom: 25px; }

.blog__post, .blog__comment:last-child {
  border-bottom: 5px solid #709b6b;
  margin-bottom: 0; }

.blog__comments {
  margin: 25px 0; }

.blog__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 20px; }
  .blog__comment-pic {
    padding: 0 20px; }
  .blog__comment-img {
    display: block; }
  .blog__comment-content .content {
    margin: 10px 0; }

.blog .aside {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 175px;
  flex: 1 0 175px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .blog .aside__about, .blog .aside__posts {
    background: white;
    margin-bottom: 25px;
    padding: 30px; }
  .blog .aside__about-pic {
    width: 100%; }
  .blog .aside__about-img {
    display: block; }
  .blog .aside .content__link {
    color: #709b6b;
    font-weight: bold; }
  .blog .aside__list-item::before {
    content: "•";
    position: relative;
    font-size: 1.4rem;
    right: 15px; }
  .blog .aside .subtitle--small {
    font-family: "AbrilFatface", serif;
    color: #1f1f1f;
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px; }

@media (max-width: 1060px) {
  .blog .wrapper {
    display: block; }
  .blog .aside {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .blog .aside__about, .blog .aside__posts {
      width: 48%;
      border-top: 5px solid #709b6b; }
    .blog .aside__about-pic {
      display: none; }
  .header--main .willow-pic {
    max-width: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .header--main .willow-pic__img {
    display: block;
    position: relative;
    top: 60px;
    max-width: 100%;
    -webkit-box-shadow: 20px 20px 0 white;
    box-shadow: 20px 20px 0 white; } }

@media (max-width: 1010px) {
  .header--main {
    background: url(assets/home-image-1.jpg);
    background-size: cover;
    background-position: center; }
    .header--main .willow-pic__img {
      display: none; }
    .header--main .wrapper {
      width: 100%;
      height: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)));
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5));
      background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5));
      background: linear-gradient(to top, rgba(0, 0, 0, 0.5)); }
    .header--main .main-title-wrap {
      max-width: 100%;
      font-size: 8rem; }
  .blog-section__picture {
    position: static;
    margin: 20px 0;
    max-width: 80%; }
  .journey-section {
    padding: 50px 0; }
    .journey-section .wrapper {
      width: 100%;
      padding: 30px; } }

@media (max-width: 920px) {
  .main-title--main-page {
    font-size: 10rem; }
  .main-title__prefix {
    max-width: 120px;
    left: -15px;
    top: -30px; }
  .contact-page .wrapper {
    display: block; }
  .contact-page .contact-info {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 5px solid #709b6b; }
  .gallery-section .wrapper {
    width: 100%;
    padding: 0; }
  .journey-section .wrapper {
    display: block;
    margin: 0 auto; }
  .journey-section__pic {
    width: 60%;
    margin: 0 auto;
    padding: 0; }
  .journey-section__img {
    -webkit-box-shadow: -20px -20px 0 #709b6b, 20px 20px 0 #709b6b;
    box-shadow: -20px -20px 0 #709b6b, 20px 20px 0 #709b6b; }
  .journey-section__description {
    margin: 50px 0 0;
    text-align: center; }
  .journey-section .more-button {
    margin: 0 auto; }
  .about-section {
    padding: 50px 20px; }
  .blog-section__picture {
    position: static;
    margin: 0;
    max-width: 100%; }
  .blog-section__img {
    position: static; }
  .blog-section__description, .blog-section__description--right {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .blog-section__content--left, .blog-section__content--right {
    width: 100%; } }

@media (max-width: 670px) {
  .blog .aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .blog .aside__about, .blog .aside__posts {
      width: 100%;
      border-top: 5px solid #709b6b; }
  .blog-section__post {
    display: block; }
  .blog-section__picture {
    position: static;
    max-width: 100%; }
  .blog-section__img {
    position: static;
    width: 100%; }
  .blog-section__description, .blog-section__description--right {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .blog-section__content--left, .blog-section__content--right {
    width: 100%; }
  .gallery-section__pic {
    margin: 0; }
  .top-bar {
    position: fixed;
    width: 100%;
    z-index: 10; }
    .top-bar .top-bar-nav {
      max-height: 0;
      overflow: hidden;
      position: absolute;
      background: #709b6b;
      width: 100%;
      -webkit-transition: max-height 0.5s;
      -o-transition: max-height 0.5s;
      transition: max-height 0.5s; }
    .top-bar .top-nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0;
      width: 100%; }
      .top-bar .top-nav__link--large, .top-bar .top-nav__item--large {
        display: none; }
      .top-bar .top-nav__item {
        margin: 5px 0;
        padding-left: 10px; }
    .top-bar .menu-toggle:checked ~ .top-bar-nav {
      max-height: 200px;
      overflow: auto;
      -webkit-transition: max-height 0.5s;
      -o-transition: max-height 0.5s;
      transition: max-height 0.5s; }
    .top-bar .menu-button {
      display: block; }
      .top-bar .menu-button__container {
        display: block; }
  .header--small-plants .wrapper,
  .header--large-plants .wrapper {
    height: 100%; } }
