/* Setup Snippet, general styling*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  html body {
    font-size: 1.8rem; }
  html a {
    text-decoration: none; }
  html ul {
    list-style: none; }

.wrapper {
  width: 85%;
  margin: 0 auto; }

.content,
.copyright {
  font-family: "montserrat", sans-serif;
  color: #1f1f1f;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 3rem; }

.title--small, .title--small .title__link {
  font-family: "AbrilFatface", serif;
  color: #1f1f1f;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

.title--large {
  font-family: "AbrilFatface", serif;
  color: #1f1f1f;
  font-size: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

.main-title {
  font-family: "AbrilFatface", serif;
  color: #f6f6f6;
  font-size: 8rem;
  text-transform: uppercase; }

.main-title--main-page {
  font-family: "AbrilFatface", serif;
  color: #f6f6f6;
  font-size: 14rem;
  text-transform: uppercase;
  line-height: 20rem; }

.more-button {
  display: inline-block;
  background: #e4a436; }
  .more-button__link {
    display: block;
    padding: 10px 20px;
    font-weight: bold;
    font-family: "AbrilFatface", serif;
    color: #1f1f1f;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-transform: uppercase; }

.copyright {
  background: #1f1f1f;
  color: #f6f6f6;
  padding: 1px; }
  .copyright__message {
    width: 100%;
    text-align: center;
    margin: 2px auto; }

.header--main {
  background: #345231; }
  .header--main .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header--main .willow-pic__img {
    display: block;
    width: 100%;
    -webkit-box-shadow: 20px 20px 0 white;
    box-shadow: 20px 20px 0 white;
    position: relative;
    top: 75px; }

.main-title__prefix {
  position: absolute;
  left: -65px;
  top: -20px; }

.main-title--main-page {
  position: relative;
  padding: 0;
  margin-left: 30px; }

.top-bar {
  border: 1px solid red;
  background: #345231; }
  .top-bar .top-nav {
    padding: 0;
    width: 50%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 10px; }
    .top-bar .top-nav__item {
      line-height: 3.2rem; }
    .top-bar .top-nav__link {
      display: block;
      font-family: "montserrat", sans-serif;
      color: #1f1f1f;
      font-size: 1.8rem;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px; }
    .top-bar .top-nav__link--large {
      font-family: "AbrilFatface", serif;
      color: #1f1f1f;
      font-size: 3.2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: white; }
    .top-bar .top-nav__link--active {
      color: #e4a436; }

.journey-section {
  background: #f6f6f6;
  padding: 100px 0; }
  .journey-section .wrapper {
    border: 1px dashed black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .journey-section__pic {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 280px;
    flex: 0 0 280px; }
  .journey-section__img {
    display: block;
    width: 100%;
    -webkit-box-shadow: 20px 20px 0 #709b6b;
    box-shadow: 20px 20px 0 #709b6b; }
  .journey-section__description {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 350px;
    flex: 1 0 350px;
    margin: 5px 0 0 100px; }
  .journey-section .title--large {
    margin: 10px 0 0 0; }
  .journey-section__content {
    margin: 35px 0; }

.gallery-section__banner {
  width: 100%;
  display: block;
  background-position: bottom center; }

.gallery-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 100px 0; }

.gallery-section__pic {
  display: block;
  margin: 20px; }

.info-section {
  background: #f6f6f6; }
  .info-section .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0; }
  .info-section__icon--round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e4a436; }
  .info-section__icon-link {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 2rem;
    color: #1f1f1f; }
  .info-section__cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
    -ms-flex: 2 0 450px;
    flex: 2 0 450px;
    margin: 25px 5px; }
    .info-section__cell .title--small, .info-section__cell .title--small .title__link, .title--small .info-section__cell .title__link {
      margin: 1.5% 0; }
  .info-section__info {
    margin: 0 0 0 20px; }
